
html{
    scroll-behavior: smooth;
    scroll-padding: 10vh;
    width: fit-content;
    margin: 0;
}

:root{
    --prim: black;
    --txt: white;
    --fltr: rgba(0, 0, 0, .8)
}

@media(min-width:1300px){
    #thebigboi{
        width: 99vw;
    }
}

@media(max-width:1300px){
    #thebigboi{
        width: 98.5vw;
    }
}

@media(max-width:1200px){
    #thebigboi{
        width: 98.2vw;
    }
}

@media(max-width:940px){
    #thebigboi{
        width: 98vw;
    }
}


@media(max-width:806px){
    #thebigboi{
        width: 97.8vw;
    }
}

@media(max-width:636px){
    #thebigboi{
        width: 97.5vw;
    }
}


@media(max-width:560px){
    #thebigboi{
        width: 97.3vw;
    }
}


@media(max-width:520px){
    #thebigboi{
        width: 97.2vw;
    }
}


#thebigboi{
    overflow: hidden;
}
/*----------------------nav--------------------------------*/


.smolNev{
    display: none;
}
#deNev.scrolled{
    align-items: flex-start;
    z-index: 1000;
}

#deNev.hide{
    display: none;
}

#deNev.scrolled #nvv{
    background-color: hsl(240, 98%, 40%);
}

#deNev{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-start;
    position: fixed;
    transition: 5s;
    z-index: 1000;
    overflow: hidden;
}

#Logg{
    height: 10vh;
    width: 10vh;
    display: grid;
    place-items: center;
    cursor: pointer;
}

#Logg img{
    height: 8vh;
    width: 8vh;
}

.minou{
    display: none;
}

.minouu{
    display: none;
}

.minou.open{
    color: white;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    background-color: hsl(240, 100%, 26%);
    width: 60vw;
    position: fixed;
    z-index: 10000000;
}

.nop{
    height: 10vh;
    width: 10vw;
}

.rimv{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 8vh;
    cursor: pointer;
}

.rimv span{
    height: 10vh;
    text-align: center;
}

.prmlst{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50vw;
    height: 100vh;
}

.bx{
    display: flex;
    flex-direction: row;
}
.wrdz{
    height: 10vh;
    width: 40vw;
    display: grid;
    place-items: center;
}

.wrdz p{
    margin: 0;
}

.tik{
    display: none;
}
.tik.yus{
    height: 10vh;
    width: 10vw;
    display: grid;
    place-items: center;
    font-size: xx-large;
    cursor: pointer;
}

.notik.nop{
    display: none;
}

.notik{
    height: 10vh;
    width: 10vw;
    display: grid;
    place-items: center;
    font-size: xx-large;
    cursor: pointer;
}

#nvv{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#lst {
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-around;
}

#lst  li{
    list-style: none;
    display: inline-block;
    height: 10vh;
    width: 10vw;
    margin: 0;
    padding: 0;
}

#nvv a{
    display: grid;
    align-items: center;
    height: 10vh;
    margin: 0;
    text-align: center;
    color: white;
    font-size: large;
    text-decoration: none;

}

#lst li :hover{
    background-color: hsl(240, 100%, 43%);
}


/*----------------------/nav--------------------------------*/

.titl{
    height: 10vh;
    text-align: center;
    color: white;
    display: grid;
    place-items: center;
    width: 100%;
    background-color: var(--prim);
    cursor: default;
}


.titl p{
    font-size: x-large;
    width: 20vw;
    margin: 0;
    height: 9vh;
    display: grid;
    place-items: center;
    border: var(--txt);
    border-width: 5px;
    border-style: solid;
    background-color: hsl(240, 100%, 26%);
    margin-top: 2vh;
    border-radius: 5vw;
}




/*----------------------Lpage--------------------------------*/

#home{
    height: 100vh;
    width: 100%;
    background-image: url(images/tmln.png.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
    overflow: hidden;
}

#exp{
    display: grid;
    text-align: center;
    color: white;
    font-size: large;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/*----------------------/Lpage--------------------------------*/



/*----------------------Intro--------------------------------*/
#bigintro{
    height: 110vh;
    overflow: hidden;
}


.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
}

#intro {
  
    height: 100vh; 
    background-color: var(--prim);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imeg {
    display: grid;
    place-items: center;
}


#hou{
    margin: 0 5%;}

#uss{
    margin: 0 5%;
}

#intro div {
    background-color: hsl(240, 98%, 40%);
    color: white;
    text-align: center;
}

#me {
    height: fit-content;
    width: 30vw;
}

#me p{
    margin: 4vi;
}

#stdiz {
    display: grid;
    grid-template-rows: 25% 70%;
    place-items: center;
    line-height: 200%;
    height: fit-content;
    width: 40vw;
}

#stdiz p{
    margin: 5vi;
}
/*----------------------------------/Intro---------------------------------------------*/



/*----------------------------------Serious---------------------------------------------*/
#bigwrk{
    height: 110vh;
    overflow: hidden;
    background-image: url(images/soshlz.png);
    object-fit: cover;
}

.wirrk{
    height: 100%;
    width: 100%;
    background-color: var(--fltr);
}

#bigwrk .titl{
    background-color: initial;
}

#bigwrk .titl p{
    background-color: hsl(240, 100%, 26%);
}

/*---mdia---*/

#work{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#card1 {
    height: 80vh;
    width: 35vw;
    border-radius: 0.5rem;
    background-color: hsl(240, 100%, 26%) /*var(--prim)*/;
    box-shadow: 0 1px 2px 0 gray;
    border: 1px solid transparent;
  }
  
#card1 a {
    text-decoration: none
}

#card2 {
    height: 80vh;
    width: 35vw;
    border-radius: 0.5rem;
    background-color: hsl(240, 100%, 26%) /*var(--prim)*/;
    box-shadow: 0 1px 2px 0 gray;
    border: 1px solid transparent;
  }
  
#card2 a {
    text-decoration: none
  }
  
  .content {
    height: 35vh;
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #ytub{
    background-image: url(images/ytb.png);

  }

  #inso{
    background-image: url(images/insto.png);
  }
  
  .image {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    background-color: var(--prim);
  }
  
  .title {
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: var(--txt);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--prim);
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  


@media(max-width: 800px){
        #card1{
            width: 80vw;
        }
    
        #card2{
            width: 80vw;
        }
    
    }

/*---/mdia---*/




/*-----------------------JOLYNE--------------------------*/
#Jotaro .titl{
    border-top: 5px var(--txt);
    border-top-style: solid;
}

.srvs{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--prim);
}

.book {
    position: relative;
    border-radius: 10px;
    width: 330px;
    height: 450px;
    background-color: hsl(240, 100%, 20%);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px hsl(240, 100%, 20%);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
  }
  
  .cover {
    top: 0;
    position: absolute;
    /* background-color: hsl(240, 100%, 26%); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px hsl(240, 100%, 20%);
    box-shadow: 1px 1px 12px hsl(240, 100%, 20%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: auto;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  

  .book p {
    font-size: 15px;
    font-weight: bolder;
    height: 450px;
    margin: 20px 50px;
  }

  .cover p{
    font-size: x-large;
    text-align: center;
    height: fit-content;
    margin: auto;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  #phto .cover{
    background-image: url(images/futo.jpeg);
    background-size: cover;
    overflow: hidden;
  }

  #vdo .cover{
    background-image: url(images/vdio.jpg);
    background-size: cover;
    overflow: hidden;
  }
  #sshl .cover{
    background-image: url(images/sshl.jpg);
    overflow: hidden;
  }

  @media(max-width : 1300px){
    .srvs{
        height: 260vh;
        flex-direction: column;
    }

    .book{
        width: 80vw;
    }

    .book p{
        font-size: x-large;
    }

    .cover{
        width: 80vw;
    }
  }

  @media(max-width : 800px){

    .book p{
        font-size: large;
    }
  }

  @media(max-width : 500px){

    .book p{
        font-size: medium;
    }
  }


  @media(max-width : 360px){

    .book p{
        font-size: small;
    }
  }
  /*-----------------------------------------/JOLYNE-----------------------------------------*/


/*-----------------------------------------JBBBB-------------------------------------------*/


#prjktz{
    height: 160vh;
    overflow: hidden;
    background-color: var(--fltr);
}

.prr{
    height: 160vh;
    background-image: url(images/Creative\ Student\ Video\ Project\ Ideas.jpg);
    background-position: center;
    background-size: cover;
}

#prjktz .titl{
    background-color: initial;
}

#ohboy{
    display: grid;
    grid-template-columns: 6.5% 85% 5.5%;
    overflow: hidden;
}

#prjkts{
    display: grid;
    height: 150vh;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: stretch;
    align-content: space-evenly;
    justify-content: stretch;
}

.prjkt{
    height: 40vh;
    width: 40vw;
}

.prjkt video{
    height: 40vh;
    width: 40vw;  
}

.tkt{
    width: 18%;
}








/*-----------------------------------------/JBBBB-------------------------------------------*/



/*-----------------------------------------contact--------------------------------------------*/
#kont{
    height: 110vh;
    background-image: url(images/kantakt.jpg);
    background-size: cover;
}

#kont .titl{
    background-color: inherit;
}

#kntkt{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: var(--prim); */
    overflow: hidden;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:50vh;
}

#info div{
    height: 40px;
    width: 35vw;
}

#info input{
    height: 40px;
    width: 35vw;
    font-size: larger;
}

#spik{
    height: 200px;
    width: 40vw;}


#msg{
    height: 200px;
    width: 40vw;
    padding: 10px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#btnknt{
    cursor: pointer;
    height: 50px;
    width: 15vw;
    background-color: hsl(240, 100%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
}

#btn{
    height: 50px;
    width: 15vw;
    display: grid;
    place-items: center;
}

#btnknt :hover{
    background-color: hsl(240, 100%, 40%);
}

#btn p {
    margin: 0;
}

/*-----------------------------------------/contact--------------------------------------------*/





/*-------------------------FUTTR-----------------------*/

#cntkt{
    background-color: hsl(240, 98%, 40%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 30vh;
    color: white;
}

.lugu{
    height: 30vh;
    width: 30vh;
    display: grid;
    place-items: center;
}

.dalugu{
    height: 18vh;
    width: 18vh;
    background-image: url(images/logo.png);
    object-fit: cover;
    background-size: cover;
}

.slogn{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slogn p {
    margin: 0;
    font-size: large;
}

.lnks{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 3vw;
    overflow: hidden;
}

.lnks p {
    text-align: center;
    background-color: var(--prim);
}

#uzls{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

#uzls .imig{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 5px;
}


#loc{
    display: grid;
    grid-template-columns: 6vw auto;
    align-items: center;
}

#meil{
    display: grid;
    grid-template-columns: 6vw auto;
    align-items: center;
}

#phon{
    display: grid;
    grid-template-columns: 6vw auto;
    align-items: center;    
}

.lnks img{
    object-fit: cover;
    height: 40px;    width: 40px;
    border-radius: 10px;
}

.inst{height: 40px;    width: 40px;margin: 10px;}
.ytbb{height: 40px;    width: 40px;margin: 10px;}
.lnkdn{height: 40px;    width: 40px;margin: 10px;}

/*-------------------------/FUTTR-----------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 800px) {

    html{
        scroll-padding: 0;
    }

    #deNev{
        display: none;
    }

    .smolNev.hide{
        display: none;
    }

    .minouu{
        display: none;
    }
    
    .minouu.open{
        color: var(--txt);
        font-size: xx-large;
        display: flex;
        flex-direction: row;
        background-color: hsl(240, 100%, 26%);
        width: 60vw;
        position: fixed;
        z-index: 10000000;
    }

    .nop{
        height: 10vh;
        width: 10vw;
    }

    .rimv{
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        font-size: 8vh;
        cursor: pointer;
    }
    
    .rimv span{
        height: 10vh;
        text-align: center;
    }
    
    
    .prmlst{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50vw;
    }
    .bx{
        display: flex;
        flex-direction: row;
    }
    .wrdz{
        width: 40vw;
        display: grid;
        place-items: center;
    }
    
    .tikk{
        display: none;
    }
    .tikk.yus{
        width: 10vw;
        display: grid;
        place-items: center;
        font-size: xx-large;
        cursor: pointer;
    }
    
    .notikk.nop{
        display: none;
    }
    
    .notikk{
        width: 10vw;
        display: grid;
        place-items: center;
        font-size: xx-large;
        cursor: pointer;
    }
    

    .nvvbtn{
        height: 10vw;
        width: 10vw;
    }

    .nvvbtn img{
        height: 10vw;
        width: 10vw;
    }

    .smolNev{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--txt);
        text-decoration:double;
        position: fixed;
        transition: 0.3s;
        top: 0;
        background-color: hsl(240, 98%, 40%);
        z-index: 1000;
        width:100%;
        height: 10vh;
    }

    #niv{
        display: flex;
        flex-direction: row;
    }

    .smolNev i{
        font-size: 9vh;
        position: relative;
    }

    .smolNev.scrolled{
        background-color:hsl(240, 100%, 40%);

    }

    .smolNev.open{
        width: 100%;
        height: 10vh;
    }

    .meniu{
        display: none;
        background-color: hsl(240, 100%, 40%);
        height: 60vh;
    }

    .nvvsml{
        height: 60vh;
    }

    .meniu ul{
        width: 35vw;
        height: 60vh;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline-start: 0;
    }

    
    .meniu li{
        list-style: none;
        padding: 0;
        margin: 0;
        height: 10vh;
        width: 35vw;
    }


    .meniu li :hover{
        background-color:  hsl(240, 100%, 20%);
    }

    .meniu a{
        height: 10vh;
        display: grid;
        align-items: center;
    }

    .meniubtn{
        cursor: pointer;
    }

    .meniu a{
        text-decoration: none;
        color: var(--txt);
    }

    .smolNev.open .meniu{
        display: flex;
        flex-direction: column;
    }

    #home{
    height: 100vh;
 
}

/*****************************************************************************************************/

#home img{
    height:100vh; 

    object-fit: cover;
    top: 0;
    left: 0;
}

/*********************************************************************************************/

#bigintro{
    height: 110vh;
}

#intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#intro div{
    width: 80vw;
}



/*************************************************************************************************/

#bigwrk{
    height: 210vh;
}



#work{
    height: 200vh; 
    display: grid;
    grid-template-rows: repeat(3,auto );
    grid-template-columns: 100%;
    place-items: center;
    justify-content: center;
}

.card{
    width: 80vw;
}

.prr{
    height: 210vh;
}



/*************************************************************************************************************************************
***************************************************************************************************************************************
*************************************************************************************************************************************/
@media( max-width: 800px){
    #prjktz{
        height: 210vh;
    }

    #prjkts{
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #ohboy{
        height: 200vh;
        grid-template-columns: 10% 80% 9%;
    }


    .prjkt{
        width: 80vw;
    }

    .prjkt video{
        width: 80vw;  
    }

    /******************************************************************/

    #kntkt{
        flex-direction: column;
    }

    #info{

        height:30vh;
    }
    
    #info div{
        height: 50px;
        width: 80vw;
    }
    
    #info input{
        height: 50px;
        width: 80vw;
    }
    
    #spik{
        height: 200px;
        width: 80vw;
    }
    
    
    #msg{
        height: 200px;
        width: 80vw;
    }

    #btnknt{
        width: 30vw;
    }

    
    #btn{
        width: 30vw;
    }

}
/*************************************************************************************************************************************
***************************************************************************************************************************************
*************************************************************************************************************************************/


@media( max-width: 550px){

    #prjktz{
        height: 200vh;
    }

    #ohboy{
        height: 200vh;
        grid-template-columns: 10% 80% 9%;
    }

    #prjkts{
        height: 200vh;
        grid-template-columns: 100%;
    }

    .prjkt{
        width: 80vw;
    }

    .prjkt video{
        width: 80vw;  
    }
}
}